# Change if needed
screen_resolution = RES_640X480
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false

# Add more if needed
available_buttons =
	{
		TURN_LEFT
		TURN_RIGHT
		ATTACK

		MOVE_RIGHT
		MOVE_LEFT

		MOVE_FORWARD
		MOVE_BACKWARD
		TURN_LEFT_RIGHT_DELTA
		LOOK_UP_DOWN_DELTA
	}


# Add more if needed
available_game_variables = 
{
	HEALTH
}